<section>
<div class="category-wrapper">
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('italian.svg') %>);">

        </div>
        <div class="categoryText">Italian</div>
    </div>
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('chinese.svg') %>);">

        </div>
        <div class="categoryText">chinese</div>
    </div>
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('thai.svg') %>);">

        </div>
        <div class="categoryText">thai</div>
    </div>
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('mexican.svg') %>);">

        </div>
        <div class="categoryText">mexican</div>
    </div>
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('indian.svg') %>);">

        </div>
        <div class="categoryText">indian</div>
    </div>
    <div class="category">
        <div class="categoryImg" style=" background-image: url(<%= asset_path('turkish.svg') %>);">

        </div>
        <div class="categoryText">turkish</div>
    </div>
</section>
