<section>
<div class="category-wrapper">
    <div class="category">
        <div class="categoryImg " >
          <img src="<%= asset_path('italian.svg') %>" alt="">


        </div>
        <div class="categoryText">Italian</div>
    </div>
    <div class="category">
        <div class="categoryImg" >
            <img src="<%= asset_path('chinese.svg') %>" alt="">
        </div>
        <div class="categoryText">chinese</div>
    </div>
    <div class="category">
        <div class="categoryImg" >
            <img src="<%= asset_path('thai.svg') %>" alt="">
        </div>
        <div class="categoryText">thai</div>
    </div>
    <div class="category">
        <div class="categoryImg">
            <img src="<%= asset_path('mexican.svg') %>" alt="">
        </div>
        <div class="categoryText">mexican</div>
    </div>
    <div class="category">
        <div class="categoryImg" >
            <img src="<%= asset_path('indian.svg') %>" alt="">
        </div>
        <div class="categoryText">indian</div>
    </div>
    <div class="category">
        <div class="categoryImg">
            <img src="<%= asset_path('turkish.svg') %>" alt="">
        </div>
        <div class="categoryText">turkish</div>
    </div>
</section>
