<% @restaurant.reviews.each do |review| %>

<div class="ReviewRestaurantcontainer">
  <div class="ProfileImgBtn">

    <div class="profile-user-img">
      <img class="Profile3" src="https://ca.slack-edge.com/T02NE0241-U02FW703QBZ-210ec2150a11-72" alt="">

      <div class="reviewBtnFollow">
      <div class="profile-user">
        <div class=" restaurant-rating-scoreVar ">
              <div class="restaurant-rating-scoreVar restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
                 <img class="Popular-rating-score rating-score" src="<%= asset_path('ratingscore.svg') %>" width="<%= (review.rating * 100) / 5 %>%"   alt=" ">
              </div>


              <div class=" rateScorVar "><%= sprintf("%.1f", review.rating) %></div>
          </div>

        <div class="WadeWarren"><%= review.user.username %></div>
      </div>
      <div class="followbtn" onclick="toggleFollow(this)">
        <div class="taster-btn">
            <span class="v57_400">Follow</span>
        </div>
      </div>


      </div>

    </div>



  </div>
  <div class="ReviewContent">
    <div class="description"><%= review.description %></div>
  </div>


</div>

<% end %>



<script>
function toggleFollow(button) {
    var buttonText = button.querySelector(".v57_400");

    if (buttonText.innerHTML === "Follow") {
        buttonText.innerHTML = "Unfollow";
        buttonText.style.color = "#8c800d"; // Change text color to black
        buttonText.style.border = " 1px solid #afa011"; // Add border
        buttonText.style.background= "#afa01100"
    } else {
        buttonText.innerHTML = "Follow";
        // buttonText.style.color = ""; // Reset text color
        // buttonText.style.border = ""; // Reset border
        // buttonText.style.padding = ""; // Reset padding
          buttonText.style.padding = "8px 16px";
        buttonText.style.backgroundColor = "#afa011";
        buttonText.style.color = "#fff";
        buttonText.style.border = "none";
        buttonText.style.borderRadius = "20px";
        buttonText.style.cursor = "pointer";
    }
}

</script>
