<div class="ReviewRestaurantContainer">
  <div class="ProfileImgBtn">

    <div class="profile-user-img">
      <img class="Profile3" src="https://ca.slack-edge.com/T02NE0241-U02FW703QBZ-210ec2150a11-72" alt="">

      <div class="reviewBtnFollow">
      <div class="profile-user">
        <div class=" restaurant-rating-scoreVar ">
              <div class="restaurant-rating-scoreVar restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
                 <img class="Popular-rating-score rating-score" src="<%= asset_path('ratingscore.svg') %>" width="80%"   alt=" ">
              </div>


              <div class=" rateScorVar ">5</div>
          </div>

        <div class="WadeWarren">Emma Anna</div>
      </div>
      <div class="followbtn">

         <div class="taster-btn">
              <span class="v57_400">Follow</span>
          </div>
      </div>
      </div>

    </div>



  </div>
  <div class="ReviewContent">
    <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentumLoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.</div>
  </div>


</div>



<div class="ReviewRestaurantContainer">
  <div class="ProfileImgBtn">

    <div class="profile-user-img">
      <img class="Profile3" src="https://ca.slack-edge.com/T02NE0241-U02FW703QBZ-210ec2150a11-72" alt="">

      <div class="reviewBtnFollow">
      <div class="profile-user">
        <div class=" restaurant-rating-scoreVar ">
              <div class="restaurant-rating-scoreVar restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
                 <img class="Popular-rating-score rating-score" src="<%= asset_path('ratingscore.svg') %>" width="80%"   alt=" ">
              </div>


              <div class=" rateScorVar ">5</div>
          </div>

        <div class="WadeWarren">Emma Anna</div>
      </div>
      <div class="followbtn">

         <div class="taster-btn">
              <span class="v57_400">Follow</span>
          </div>
      </div>
      </div>

    </div>



  </div>
  <div class="ReviewContent">
    <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentumLoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.</div>
  </div>


</div>





<div class="ReviewRestaurantContainer">
  <div class="ProfileImgBtn">

    <div class="profile-user-img">
      <img class="Profile3" src="https://ca.slack-edge.com/T02NE0241-U02FW703QBZ-210ec2150a11-72" alt="">

      <div class="reviewBtnFollow">
      <div class="profile-user">
        <div class=" restaurant-rating-scoreVar ">
              <div class="restaurant-rating-scoreVar restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
                 <img class="Popular-rating-score rating-score" src="<%= asset_path('ratingscore.svg') %>" width="80%"   alt=" ">
              </div>


              <div class=" rateScorVar ">5</div>
          </div>

        <div class="WadeWarren">Emma Anna</div>
      </div>
      <div class="followbtn">

         <div class="taster-btn">
              <span class="v57_400">Follow</span>
          </div>
      </div>
      </div>

    </div>



  </div>
  <div class="ReviewContent">
    <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentumLoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.</div>
  </div>


</div>





<div class="ReviewRestaurantContainer">
  <div class="ProfileImgBtn">

    <div class="profile-user-img">
      <img class="Profile3" src="https://ca.slack-edge.com/T02NE0241-U02FW703QBZ-210ec2150a11-72" alt="">

      <div class="reviewBtnFollow">
      <div class="profile-user">
        <div class=" restaurant-rating-scoreVar ">
              <div class="restaurant-rating-scoreVar restaurant-rating" style="background-image: url(<%= asset_path('ratingbackground.svg') %>) ">
                 <img class="Popular-rating-score rating-score" src="<%= asset_path('ratingscore.svg') %>" width="80%"   alt=" ">
              </div>


              <div class=" rateScorVar ">5</div>
          </div>

        <div class="WadeWarren">Emma Anna</div>
      </div>
      <div class="followbtn">

         <div class="taster-btn">
              <span class="v57_400">Follow</span>
          </div>
      </div>
      </div>

    </div>



  </div>
  <div class="ReviewContent">
    <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentumLoremIpsumDolorSitAmetConsecteturAdipiscingElitIdQuamTortorNecArcuEuismodNequeUltriciesEgetAdipiscingCondimentum">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id quam tortor nec arcu. Euismod neque ultricies eget adipiscing condimentum.</div>
  </div>


</div>
