<div class="container">
<h3 class="section-header">Trending <strong>restaurant</strong> </h3>

<div class="results-for-restaurants">
  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>

  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>


  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>


  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>


  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>


  <div class="restaurant-info">
    <div class="restaurant-img">
        <a href="#"><img class=" restaurant-img-link " src="https://imageproxy.wolt.com/venue/6049015c277cf0ebd69a61f7/cbc3ba12-077b-11ed-bc5c-722a4a08bf78_city_chicken_close_up_2.jpg" alt=" "></a>
    </div>

    <div class=" restaurant-text-info ">
        <div class=" restaurant-text-Title-favoriteIcon ">
            <h3 class=" restaurant-title "><a href=" # ">La Femme Patisserie</a></h3>
          <div class="favorite-btn" onclick="toggleFavorite(this)">
              <i class="fa fa-heart"></i>
          </div>


        </div>
        <div class=" restaurant-adress ">
            <img src=" <%= asset_path('adressIcon.svg') %>" alt=" ">
            <div>Sonnenallee 26, 12047, Berlin</div>
        </div>

        <div class=" restaurant-rating-scoreVar ">
            <div class=" restaurant-rating ">
                <img class=" rating-score " src="<%= asset_path('ratingscore.svg') %>" alt=" ">
            </div>
            <div class=" rateScorVar ">4.9</div>
        </div>

        <div class=" restaurant-description ">

        </div>
        <div class=" restaurant-tel-cuisine-openNow ">

            <div class=" restaurant-category-tag ">
                Italian
            </div>


        </div>
    </div>
  </div>




</div>




</div>


<script>
// function toggleFavorite() {
//     var heartIcon = document.getElementById('heart-icon');

//     // Toggle the 'active' class to change the color
//     heartIcon.classList.toggle('active');
// }
  function toggleFavorite(icon) {
    // Toggle the 'active' class to change the color of the clicked icon
    icon.classList.toggle('active');
  }

</script>
