<div class="review-container ReviewRestaurantcontainer	">

<%= simple_form_for [@restaurant , @review] do |f| %>
  <%= f.input :rating, input_html: { class: 'review-content-style' }%>
  <%= f.input :description, input_html: { class: 'review-content-style' } %>
  <div class="reviewBtnBlex">
    <div class="form-group flex-review">

      <%= f.label :rating, "Overall rating:", class: "label-margin" %>
      <div class="star-rating" id="star-rating">
        <%= f.input :rating, as: :hidden, input_html: { id: "rating-value", value: "5" } %>
        <% (1..5).each do |value| %>
          <%= content_tag :span, "&#9733;".html_safe, class: "star", data: { value: value } %>
        <% end %>
      </div>
    </div>
    <%= f.submit "Add review", class: 'submit-btn'  %>
  </div>


<% end %>



</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const stars = document.querySelectorAll(".star");

  stars.forEach(star => {
    star.addEventListener("mouseenter", function() {
      const value = this.getAttribute("data-value");
      highlightStars(value);
    });

    star.addEventListener("mouseleave", function() {
      const ratingValue = document.getElementById("rating-value").value;
      highlightStars(ratingValue);
    });

    star.addEventListener("click", function() {
      const value = this.getAttribute("data-value");
      document.getElementById("rating-value").value = value;
    });
  });

  function highlightStars(value) {
    stars.forEach(star => {
      if (star.getAttribute("data-value") <= value) {
        star.classList.add("active");
      } else {
        star.classList.remove("active");
      }
    });
  }
});

</script>
