<%= render "shared/search" %>
<%= render "shared/categorybar"%>
<%= render "shared/toprestaurants" %>
<h3 class="container-xxl">Trending <strong>restaurant</strong> </h3>

<%= render "shared/trending", restaurants: @top_restaurants_last_week.take(6) %>
<%= render "shared/tasterbar" %>
<%= render "shared/reviews" %>

<%= render "shared/footer" %>
