
<%= render "shared/search" %>
<%= render "shared/categorybar"%>
<div class="container-xxl">
<h3>Restaurants in <strong><%= params[:query] %></strong></h3>
</div>
<%= render "shared/trending", restaurants: @restaurants %>

<%= render "shared/footer" %>
